
#budget-info-display {
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;

	.date-info-set, .fin-info-set {
		border-radius: 4px;
		margin-bottom: 5px;
		font-family: Arial, Helvetica, sans-serif;
		span {
			display: block;
			margin: 3px;
			&.title {
				font-size: 12px;
			}
			&.value {
				font-size: 14px;
			}
		}
	}

	// показ дат начала и окончания
	.date-info-set {
		background-color: #074648;
		.remain-end, .remain-start, .remain-days {
			width: 32%;
			display: inline-block;
			text-align: center;
			color: #c8bb33;
		}
	}

	// показ состояния финансов
	.fin-info-set {
		background-color: #3f350f;
		.free, .reserv, .utilize {
			display: inline-block;
			
			margin-left: 20px;
		}
		.free {
			color: #39dd39;
		}
		.reserv {
			color: #ff7e00;
		}
		.utilize {
			color: #6f6464;
		}
	}


}

// форма установки бюджета

#p-budget-message {
	margin: 5px;
}