{{!-- основная страница составления ассортимента --}}
    {{!-- Форма указания бюджета на заданный период --}}
    <div class="wrapper-form">
        <form id="form-budget-setting" action="." method="post">
            <div class="row">
                <div class="block-start-period">
                    <label for="input-start-period">Начало периода</label>
                    <input type="date" id="input-start-period">
                </div>
                <div class="block-end-period">
                    <label for="input-end-period">Завершение периода</label>
                    <input type="date" id="input-end-period">
                </div>
            </div>
            <div class="row">
                <label for="input-budget-amount">Сумма бюджета</label>
                <input id="input-budget-amount" type="number" min="0" max="2000000000" value="0">
            </div>
            <hr/>
            <div class="row">
                <button id="btn-confirm-period" type="button">Задать финансовый период</button>
            </div>
            <hr/>
            <div class="row">
                <button id="period-set-done" type="button">Отмена</button>
                <button id="period-set-reset" type="reset">Сброс</button>
                <button id="period-set-apply" type="submit">Применить</button>
            </div>
            </div>
        </form>
    </div>
    {{!--  --}}
    <!-- Форма создания единицы ассортимента -->
    <div class="wrapper-form">
        <div id="form-create-item">
            <div class="radio-block">
                <div class="radio-set">
                    <input id="radio-is-packed" type="radio" name="radio-type-vendor">
                    <label for="radio-is-packed">Фасованный</label>
                </div>
                <div class="radio-set">
                    <input id="radio-is-weight" type="radio" name="radio-type-vendor">
                    <label for="radio-is-weight">Весовой</label>
                </div>
                <div class="radio-set">
                    <input id="radio-is-unit" type="radio" name="radio-type-vendor">
                    <label for="radio-is-unit">Штучный</label>
                </div>
            </div>
            <hr/>
            <div class="radio-block">
                <div class="radio-set">
                    <input id="radio-measure-gramm" type="radio" name="radio-type-measure" disabled="true">
                    <label class="disabled" for="radio-measure-gramm">Грамм</label>
                </div>
                <div class="radio-set">
                    <input id="radio-measure-milliliter" type="radio" name="radio-type-measure" disabled="true">
                    <label class="disabled" for="radio-measure-milliliter">Миллилитр</label>
                </div>
            </div>
            <hr/>
            <div class="input-block">
                <div class="input-set">
                    <label for="input-item-name">название</label>
                    <input id="input-item-name" type="text" value="">
                </div>
                <div class="input-set">
                    <label for="input-item-amount">количество</label>
                    <input type="number" id="input-item-amount" value="">
                </div>
                <div class="input-set">
                    <label for="input-item-price">стоимость</label>
                    <input type="number" id="input-item-price" value="">
                </div>
            </div>
            <div class="input-block">
                <div class="input-set">
                    <label for="input-item-describe">Заметка</label>
                    <textarea name="" id="input-item-describe"></textarea>
                </div>
            </div>
            <hr/>
            <div class="set-category-block">
                <label for="set-category-btn-list">назначить категорию</label>
                <div id="set-category-btn-list">
                    <button>Общая</button>
                    <button>Овощи</button>
                    <button>Фрукты</button>
                    <button>Мясные</button>
                    <button>Молочные</button>
                    <button>Бакалея</button>
                    <button>Кондитерские</button>
                    <button>Хозтовары</button>
                    <button>Услуги</button>
                    <button>Здоровье</button>
                </div>
            </div>
            <hr/>
            <div id="btn-block">
                <button id="item-create-done">Завершить</button>
                <button id="item-create-reset">Сброс</button>
                <button id="item-create-apply">Применить</button>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="items-list-area">
        <!-- секция составляемых списков -->
        <div class="section-orders-list">
            <hr/>
            <header id="order-create-control">
                <div>
                    <button id="btn_order_list">разовый</button>
                    <button id="btn_day_list">сутки</button>
                    <button id="btn_weak_list">неделя</button>
                    <button id="btn_month_list">месяц</button>
                    <button id="btn_custom_days_list" tabindex="-1"><input id="order-custom-days" type="text"> Дней</button>
                </div>
            </header>
            <hr/>
            <div id="block-order-list">
                {{!-- место размещение списков заказов/закупок ассортимента --}}
            </div>
        </div><!-- секция списка источника ассортимента -->
        <div class="section-assortiment-list">
            <hr/>
            <header>
                <input id="input-item-search" type="text" value="">
                <button id="btn-crear-search">[X]</button>
                <button id="btn-run-search" >Поиск</button>
            </header>
            <hr/>
            <div id="category-btn-list">
                <button>Сбросить</button>
                <button>Общая</button>
                <button>Овощи</button>
                <button>Фрукты</button>
                <button>Мясные</button>
                <button>Молочные</button>
                <button>Бакалея</button>
                <button>Кондитерские</button>
                <button>Хозтовары</button>
                <button>Услуги</button>
                <button>Здоровье</button>
            </div>
            <hr/>
            <div id="block-source-list">
                {{!-- место размещение списков источников ассортимента --}}
            </div>
        </div>
    </div>
    <!--  -->

    <script>
        Array.prototype.forEach.call(document.body.childNodes, function (e) {
            if (e.nodeName == "#text" && !e.nodeValue.trim() ) {
                e.remove();
            }
        });
    </script>
