<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рационализатор</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="js/program.js" type="module"></script>
</head>
<body>
    <header>
        <a class="main-logo" href="/"></a>
        <div id="budget-info-display">
            <div class="remain">
                <span>период</span>
                <span>0</span>
            </div>
            <div class="free">
                <span>доступно</span>
                <span>0</span>
            </div>
            <div class="reserv">
                <span>в резерве</span>
                <span>0</span>
            </div>
            <div class="utilize">
                <span>потраченно</span>
                <span>0</span>
            </div>
        </div>
        <nav>
            <a href="/">main</a>
            <a href="/about">about</a>
        </nav>
    </header>
{{{body}}}
    <script>
        Array.prototype.forEach.call(document.body.childNodes, function (e) {
            if (e.nodeName == "#text" && !e.nodeValue.trim() ) {
                e.remove();
            }
        });
    </script>
</body>
