<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рационализатор</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="js/types.js" async></script>
    <script src="js/program.js" type="module"></script>
</head>
<body>
    <header>
        <a class="main-logo" href="/"></a>
        <nav>
            <a href="/">main</a>
            <a href="/about">about</a>
        </nav>
    </header>
{{{body}}}
    <script>
        Array.prototype.forEach.call(document.body.childNodes, function (e) {
            if (e.nodeName == "#text" && !e.nodeValue.trim() ) {
                e.remove();
            }
        });
    </script>
</body>
