<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рационализатор</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="js/program.js" type="module"></script>
</head>
<body>
    <header>
        <a class="main-logo" href="/"></a>
        <div id="budget-info-display">
            <div class="date-info-set">
                <div class="remain-start">
                    <span class="title">начало</span>
                    <span class="value">0</span>
                </div>
                <div class="remain-days">
                    <span class="title">дней</span>
                    <span class="value">0</span>
                </div>
                <div class="remain-end">
                    <span class="title">окончание</span>
                    <span class="value">0</span>
                </div>
            </div>
            <div class="fin-info-set">
                <div class="free">
                    <span class="title">доступно</span>
                    <span class="value">0</span>
                </div>
                <div class="reserv">
                    <span class="title">требуется</span>
                    <span class="value">0</span>
                </div>
                <div class="utilize">
                    <span class="title">потраченно</span>
                    <span class="value">0</span>
                </div>
            </div>
        </div>
        <nav>
            <a href="/">main</a>
            <a href="/about">about</a>
        </nav>
    </header>
{{{body}}}
    <script>
        Array.prototype.forEach.call(document.body.childNodes, function (e) {
            if (e.nodeName == "#text" && !e.nodeValue.trim() ) {
                e.remove();
            }
        });
    </script>
</body>
